

<section class="m-auto flex-row min-h-screen flex justify-center items-center bg-gray-50 py-16 px-4">
    <div class="w-full max-w-4xl bg-white shadow-xl rounded-2xl p-8 md:p-12 space-y-8">
        <h2 class="text-5xl lg:text-6xl font-extrabold text-neutral-900 border-b-4 border-indigo-200 pb-4">
            Sobre Mí
        </h2>

        <div class="space-y-6 text-gray-700">
            <p class="text-xl leading-relaxed">
                Soy un Full-Stack que usa la tecnología y la IA no solo para construir, sino para automatizar, resolver y acelerar el camino desde las necesidades del cliente hasta el producto final.
            </p>
            <p class="text-xl leading-relaxed">
               Mis habilidades son sólidas en <strong>Front-End</strong>, <strong>Back-End</strong> y gestión de <strong>bases de datos relacionales</strong>.
            </p>
        </div>
    </div>
</section>
