---
import {
  SiLinkedin,
  SiGithub,
  SiGmail
} from "react-icons/si";
import SplitText from "../components/SplitText";
const githubText = "IsaacNw321";
const linkedinText = "Isaac Pereira";
const emailText = "i3170245@gmail.com";
---

<section class="m-auto flex-row min-h-screen flex justify-center items-center py-16 px-4">
  <div class="w-full max-w-4xl shadow-xl rounded-2xl p-8 md:p-12 space-y-8">
    <h2 class="text-5xl lg:text-6xl font-extrabold text-center border-b-4 border-indigo-200 pb-4">
      <SplitText
  text="Sobre mi"
  className="text-4xl font-semibold text-center"
  delay={100}
  duration={2}
  ease="power3.out"
  splitType="chars"
  from={{ opacity: 0, y: 40 }}
  to={{ opacity: 1, y: 0 }}
  threshold={0.1}
  rootMargin="-100px"
  textAlign="center"
  client:load
/>
    </h2>

    <div class="space-y-6">
      <p class="text-xl leading-relaxed">
        Soy un Full-Stack que usa la tecnología y la IA no solo para construir, sino para automatizar, resolver y acelerar el camino desde las necesidades del cliente hasta el producto final.
      </p>
      <p class="text-xl leading-relaxed">
        Mis habilidades son sólidas en <strong>Front-End</strong>, <strong>Back-End</strong> y gestión de <strong>bases de datos relacionales</strong>.
      </p>

      <div class="flex items-center gap-2">
        <SiGithub />
        <a href="https://github.com/IsaacNw321" target="_blank"
        rel="noopener noreferrer" class="hover:text-blue-500 text-lg">
        {githubText}
        </a>
      </div>

      <div class="flex items-center gap-2">
        <SiLinkedin  />
        <a href="https://www.linkedin.com/in/isaac-pereira-271a66285/" target="_blank"
          rel="noopener noreferrer" class="hover:text-blue-500 text-lg">
          {linkedinText}
        </a>
      </div>
 
      <div class="flex items-center gap-2">
        <SiGmail  />
          <a class="hover:text-blue-500 text-lg">
            {emailText}
          </a>
      </div>
    </div>
  </div>
</section>