---
import ProfileCard from '../components/ProfileCard'
import Dev from '../../public/Me.png'
const devImage = Dev.src;
---

<section class="flex flex-col justify-center align-middle  p-8 m-auto" >
  <div class="m-auto">
    <ProfileCard
      name="Isaac Pereira"
      title="Full-Stack"
      handle="NewtonDev"
      avatarUrl={devImage}
      showUserInfo={true}
      enableTilt={true}
      enableMobileTilt={false}
    />
  </div>
</section>
 